@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lexend:wght@100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');


:root {
  --amareloClaro: #FBF8D9;
  --amarelo: #F6F0B1;
  --ambar:#fde68a;
  --azul: #005E97;
  --azulClaro:#4684cf;
  --azulEscuro:#002244;
  --cinza:#1f2937;
  --cinzaClaro: #EAE9E9;
  --Branco: white;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--amarelo );
  color: var(--cinza);
}

h1 {
  font-family: 'Unbounded';
  font-size: 45px;
  font-weight: bold;
  color: var(--azulEscuro);
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 10px;
  margin-bottom: 50px;
  width: 1100px;
}

p {
  font-size: 20px;
  color: var(--cinza);
  margin-bottom: 2rem;
  margin-left: 40px;
  max-width: 700px;
  line-height: 1.6;
}

button {
  position: relative;
  background-color: var(--azul);
  color: var(--Branco);
  margin-top: 60px;
  margin-left: 900px;
  width: 350px;
  height: 60px;
  font-size: 1.1rem;
  font-family: 'Unbounded';
  font-weight: 600;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--azulClaro);
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
}

